body {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    background: linear-gradient(to bottom, #cfd8dc, #90a4ae); 
    background-image: url(' https://i.pinimg.com/736x/c4/d4/e3/c4d4e387bbe25ef21d85ee490ff10451.jpg ');
    color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
  }
  
  .weatherApp {
    background:linear-gradient(rgb(222, 123, 139),rgb(186, 171, 174),pink) ;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  .weatherApp h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #263238;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 80%;
    border: 1px solid #b0bec5;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
  }
  
  button {
    background:linear-gradient(rgb(222, 87, 141),rgb(197, 148, 162),rgb(199, 56, 108));
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #546e7a; 
  }
  
  .error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .weatherDetails {
    margin-top: 20px;
    text-align: left;
  }
  
  .weatherDetails h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  .weatherDetails img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
  }
  
  .weatherDetails p {
    margin: 5px 0;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  